:root {
  /*primary colors*/
  --Soft-Blue: hsl(231, 69%, 60%);
  --Soft-Red: hsl(0, 94%, 66%);

  /*Neutral colors*/
  --Grayish-Blue: hsl(229, 8%, 60%);
  --Grayish-Blue-trans: hsla(229, 8%, 60%, 0.1);
  --Very-Dark-Blue: hsla(229, 31%, 21%,0.9);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  font-size: 1.125rem;
}

body {
  margin: 0;
  font-family: 'Rubik', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
